name: CI - dev
on:
  workflow_call:
    inputs:
      appType:
        required: true
        type: string
jobs:
  Build:
    runs-on: self-hosted
    steps:
      - run: echo "Hello ${{ inputs.appType }}"