name: CI - dev
on:
  workflow_call:
    inputs:
      appType:
        required: true
        type: string
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - if: ${{ inputs.appType  == 'Nodejs' }}
        run: npm install