name: CI -  dev
on:
  workflow_call:
    inputs:
      appType:
        required: true
        type: string
jobs:
  Build:
    uses: azure-prep/roboshop-github-actions/.github/workflows/build.yaml@main
    with:
      appType: ${{ inputs.appType }}
