name: CI -  dev
on:
  workflow_call:
    inputs:
      appType:
        required: true
        type: string
      appName:
        required: true
        type: string
    secrets:
      vault_token:
        required: true
jobs:
  Build:
    uses: azure-prep/roboshop-github-actions/.github/workflows/build.yaml@main
    with:
      appType: ${{ inputs.appType }}
      appName: ${{ inputs.appName }}
    secrets:
      vault_token: ${{ secrets.vault_token }}

  Dev_Deploy:
    uses: azure-prep/roboshop-github-actions/.github/workflows/aks-deploy.yml@main
    with:
      resource_group_name: ukwest-dev
      appEnv: dev-dev
    secrets:
      vault_token: ${{ secrets.vault_token }}