name: github-image.yml
on: workflow_dispatch

jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: docker build
        run: |
          pwd
          ls -ltra
          cd .github/workflows/github-image.yml
          docker build -t chandralekhas/github-runner:latest .
          docker login -u chandralekhas -p ${{ secrets.DOCKER_PASS }}
          docker push chandralekhas/github-runner:latest
